altgraph
asgiref
beautifulsoup4
blinker
certifi
charset-normalizer
click
colorama
comtypes
crispy-bootstrap5
distlib
Django
django-crispy-forms
django-email
django-environ
filelock
Flask
idna
itsdangerous
Jinja2
joblib
MarkupSafe
MouseInfo
numpy
opencv-contrib-python
packaging
pefile
pillow
pipenv
platformdirs
psycopg2
PyAutoGUI
PyGetWindow
pyinstaller
pyinstaller-hooks-contrib
Pympler
PyMsgBox
PyPDF2
pyperclip
pypiwin32
PyRect
PyScreeze
pyttsx3
pytweening
pywhatkit
pywin32
pywin32-ctypes
qrcode
requests
scikit-learn
scipy
setuptools
soupsieve
sqlparse
threadpoolctl
tzdata
urllib3
virtualenv
Werkzeug
wikipedia