altgraph
asgiref
beautifulsoup4
blinker
certifi
charset-normalizer
click
colorama
crispy-bootstrap5
distlib
Django
django-crispy-forms
django-email
django-environ
filelock
Flask
idna
itsdangerous
Jinja2
joblib
MarkupSafe
numpy
opencv-contrib-python
packaging
pefile
pillow
pipenv
platformdirs
psycopg2
pyinstaller
pyinstaller-hooks-contrib
Pympler
PyPDF2
pyperclip
pyttsx3
pywhatkit
qrcode
requests
scikit-learn
scipy
setuptools
soupsieve
sqlparse
threadpoolctl
tzdata
urllib3
virtualenv
Werkzeug
wikipedia